* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body,
html {
  overflow-x: hidden;
}

body {
  background-color: #111322;
  overflow-y: overlay;
  width: 100%;
  max-width: 100%;
  min-width: auto;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #030910;
}

::-webkit-scrollbar-thumb {
  background: #8c98c088;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8c98c041;
}

#root {
  overflow-x: hidden;
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 100%;
}
